@tailwind base;
@tailwind components;
@tailwind utilities;
 /* body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

a {
  color: #0070f3;
}

.navbar {
  background-color: #101010;
  border-bottom: 1px solid #333;
}

.card {
  background-color: #202020;
  border: 1px solid #333;
}  */
