.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .loginCard {
    width: 300px;
  }
  
  .degradadoGris {
    background: linear-gradient(135deg, #232526, #414345);
    height: 100%;
    width: 100%;
  }

  .custom-menu.ant-menu-horizontal .ant-menu-item:hover {
    color: blue;
  }
  .custom-menu.ant-menu-horizontal .ant-menu-item-selected {
    color: blue;
  }
  
  